<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <!--Configurar la seguridad de la aplicacion-->
      <authentication mode="Forms">
        <forms defaultUrl="menu.aspx" loginUrl="Login.aspx" timeout="10" />
      </authentication>
    </system.web>

  <!--Configurar la parte intrusiva de JQUery-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />    
  </appSettings>

	<connectionStrings>
		<add name="Cadena" connectionString="Server=DESKTOP-CQGI2H7\SQLEXPRESS; Database=BDAcademico;Integrated Security=true"/>
	</connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSUsuarioSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1350/WSUsuario.asmx" binding="basicHttpBinding"
        bindingConfiguration="WSUsuarioSoap" contract="ServiceReferenceUsuario.WSUsuarioSoap"
        name="WSUsuarioSoap" />
    </client>
  </system.serviceModel>
</configuration>
