<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSAsignaturaSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1350/WSAsignatura.asmx" binding="basicHttpBinding"
                bindingConfiguration="WSAsignaturaSoap" contract="ServiceReference1.WSAsignaturaSoap"
                name="WSAsignaturaSoap" />
        </client>
    </system.serviceModel>
</configuration>